/* My Styles */
@import url('./author.css');
:root{
    --container-width: 400px;
    --container-height: 400px;
    --name-font-family: 'Author-Semibold', 'sans';
}

body{
    display: flex;
    flex-flow: row wrap;
}

.gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

figure{
    position: relative;
    margin: 0;
    overflow: hidden;
    width: var(--container-width);
    height: var(--container-height);
    z-index: 0;
}

figcaption{
    position: absolute;
    margin-top: 85%;
    color: white;
    font-family: var(--name-font-family);
    font-size: 2.5em;
    z-index: 1;
}

img{
    width: var(--container-width);
    height: var(--container-height);
    object-fit: cover;
    transform: scale(1);
    transition: filter,transform 1s;
    filter: grayscale(80%);
    z-index: 0;
}

figure:hover > img{
    transition: filter, transform 1s;
    transform: scale(1.1);
    filter: grayscale(0%);
}

figure:focus > img{
    transition: filter, transform 1s;
    transform: scale(1.1);
    filter: grayscale(0%);
}



.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: var(--container-width);
    height: var(--container-height);
    background: linear-gradient(to top right, rgba(255,35,35,0.6194852941176471) 0%,rgba(255,35,35,0) 100%);
    z-index: 0;
    transition: opacity 1s;
    opacity: 0;
}

figure:hover > .overlay{
    transition: opacity 1s;
    opacity: 1;
}

figure:focus > .overlay{
    transition: opacity 1s;
    opacity: 1;
}